<html>
  <head>
    <body>
    <%= @mensaje %>
    <form action="/buscarPalabra" method="post">
      <input type="text" name="letraInicialX" value="0">
      <input type="text" name="letraInicialY" value="0">
      <input type="text" name="letraFinalX" value="0">
      <input type="text" name="letraFinalY" value="0">
      <input type="submit" value="Marcar palabra">
    </form>
   </body>
</head>
</html>
